<div class="row" style="margin-top:70px;">
  <div class="large-12 columns">
  <center>
    <table>
      <thead>
        <tr>
          <th width="150">Configuration</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Target URL</td>
          <td><b>{{state.target}}</b></td>
        </tr>
        <tr>
          <td>Authentication</td>
          <td><b><span ng-hide="state.logtype != 'none'">No login required</span><span ng-show="state.logtype == 'basic'">Basic authentication</span><span ng-show="state.logtype == 'normal'">Form-based</span><span ng-show="state.logtype == 'kerberos'">Kerberos (SPNEGO)</span></b></td>
        </tr>
        <tr>
          <td>Login URL</td>
          <td><span ng-show="state.logtype != 'normal'"><b>None</b></span><span ng-show="state.logtype == 'normal'"><b>{{state.login}}</b></span></td>
        </tr>
        <tr>
          <td>Login Username</td>
          <td><span ng-show="state.logtype != 'none' && state.username.length > 0"><b>{{state.username}}</b></span><span ng-show="state.logtype == 'none' || state.username.length == 0"><b>None</b></span></td>
        </tr>
        <tr>
          <td>Modules</td>
          <td>
            <span ng-show="state.modules.toString() == 'all'"><b>All</b><sub>not all moudles? <a href="" ng-click="openModuleDialog()">Custom here</a></sub></span>
            <span ng-show="state.modules.toString() != 'all'"><b>Portion</b><sub><a href="" ng-click="openModuleDialog()">Custom here</a></sub></span>
          </td>
        </tr>
      </tbody>
    </table>

    <p>Risk: Revok injects data during scan and may corrupt your database.<br/> We recommend you run against a *test environment*.</p>
    <p><input type="checkbox" style="min-height:18px;min-width:18px;vertical-align:middle;" ng-model="state.confirm" ng-change="check()"><span style="color:#f04124;vertical-align:middle;margin-left:0.5em">I understand the risk</span><br/><br/></p>
  </center>
  </div>
</div>

<div class="row" style="margin-top:55px;margin-bottom:270px;">
  <div class="small-12 large-12 columns">
    <center>
      <a href="javascript:;" class="btn-prev pop" ng-click="action.back();state.valid_pass=false;state.valid_user=flase;state.valid=false;state.valid_email=false"><span aria-hidden="true" class="btn-icon icon-arrow-left"></span>Cancel</a>
      <a href="javascript:;" class="pop" ng-class="confirm_button_style" ng-click="next()" ><span aria-hidden="true" ng-class="icon_style"></span>Submit</a>
    </center>
  </div>
</div>
