@font-face{
  font-family:'droid-sans';
  src:url(../fonts/droid-sans.woff) format("woff");

}

body {
  font-family: 'droid-sans', sans-serif;
  color: #808184;
  background-color: #F4F2F0;
  line-height: 2;
}

b {
  color:#808184;
}

.click-link{
  font-size:17px;
  color:#808184;
  text-decoration:none;
  text-align:center;
}

.click-link:hover {
  color: #f04124;
}

.toplink {
  text-decoration:none;
  font-size:15px;
  color:black;
  margin-left:8px;
  margin-right:8px;
}

.toplink:hover {
  color: #f04124;
}

.footerlink{
  color:#F4F2F0;
  text-decoration:none;
  margin-left:8px;
  margin-right:8px;
}

.footerlink:hover {
  color: #f04124;
}

#logo {
  margin-top: 0px;
}

h1, h2, h3, h4 {
  color: #222222;
}

.landing{
  font-size: 20px;
  font-family:'droid-sans';
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #313232;
  margin-top:0px;
  padding:5px 0;
  height:66px;
  color:white;
  line-height: 10px;
}

.footer p {
  font-size: 10px;
}

/*unslider*/
table {
  background: white;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd;
}

/* flat form css*/
.form-control:-ms-input-placeholder {
  color: #b2bcc5;
}

.form-control::-webkit-input-placeholder {
  color: #b2bcc5;
}

.has-warning .form-control:-ms-input-placeholder {
  color: #f1c40f;
}

.has-warning .form-control::-webkit-input-placeholder {
  color: #f1c40f;
}

.has-error .form-control:-ms-input-placeholder {
  color: #f04124;
}

.has-error .form-control::-webkit-input-placeholder {
  color: #f04124;
}

.has-success .form-control:-ms-input-placeholder {
  color: #2ecc71;
}
.has-success .form-control::-webkit-input-placeholder {
  color: #2ecc71;
}

/*feature list*/
.feature-list {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 8px 1px 8px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 8px 1px 8px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 8px 5px 8px rgba(0,0,0,0.4);
}

/*animation icon hover*/
@keyframes loda-anim {
  from { -webkit-transform: rotateY(1deg); }
  to { -webkit-transform: rotateY(179deg); }
}

@-moz-keyframes loda-anim {
  from { -moz-transform: rotateY(1deg); }
  to { -moz-transform: rotateY(179deg); }
}

@-webkit-keyframes loda-anim {
  from { -webkit-transform: rotateY(1deg); }
  to { -webkit-transform: rotateY(179deg); }
}

@-ms-keyframes loda-anim {
  from { -ms-transform: rotateY(1deg); }
  to { -ms-transform: rotateY(179deg); }
}

@-o-keyframes loda-anim {
  from { -o-transform: rotateY(1deg); }
  to { -o-transform: rotateY(179deg); }
}

#nav_row {
  margin-top:7px;
  margin-bottom:7px;
}

#logo_div {
  margin-left:0;
}

#toplinks_div {
  text-align:right;
  line-height:30px;
  margin-right:0;
}

#down_div {
  background-color:#1D8CBA;
}

#down_row {
  height:378px;
  text-align:center;
}

#down_p_grid {
  line-height:8px;
  margin-top:85px;
}

#down_btn_grid {
  text-align:center;
}

#down_btn_div {
  height:50px;
  margin-top:40px;
}

#video_row {
  line-height:24px;
  background-color:#F4F2F0;
}

#video_grid {
  padding-top:5em;
  padding-bottom:3em;
}

#video_text_grid {
  padding-top:8em;
  line-height:24px;
}

#rpt_row {
  line-height:24px;
  background-color:#F4F2F0
}

#rpt_img_grid {
  padding-top:1em;
  line-height:24px;
}

#rpt_text_grid {
  padding-bottom:5em;
}

#footerlinks_row {
  float:right;
  height:3.5em;
  line-height:3.5em;
  overflow:hidden;
}

#video_text_grid>p {
  color:#808184;
}

div.landing {
  color:#808184;
}
